In [17]:
#TLO4: Utilize booleans, comparison operators, and I/O operations in Python (CLO2)

In [16]:
#Exercise 1:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

My name is Nayan Limboo

In [15]:
#Exercise 2:
with open("example.txt", "r") as file:
    first_line = file.readline()
    print(first_line)

My name is Nayan Limboo

In [22]:
#Erercise 3:
with open("empty.txt", "w") as file:
    file.write("This is an empty file.")

In [23]:
#Exercise 4:
with open("append_example.txt", "a") as file:
    file.write("\nAppended line.")

In [24]:
#Exercise 5:
with open("example.txt", "r") as file:
    content = file.read()
    print(len(content))

24

In [25]:
#Exercise 6:
with open("example.txt", "r") as file:
    content = file.read()
    words = content.split()
    print(len(words))

5

In [26]:
#Exercise 7:
num = 14
result = 10 <= num <= 20 and num % 2 == 0
print(result)

True

In [27]:
#Exercise 8:
text = "banana"
result = 5 <= len(text) <= 10 and 'a' in text
print(result)

True

In [28]:
#Exercise 9:
temperature = 20
humidity = 40
result = 15 <= temperature <= 25 or humidity < 30
print(result)

True

In [29]:
#Exercise 10:
x = 5
y = 7
z = 10
result = x != y and z > x and z > y
print(result)

True

In [30]:
#Exercise 11:
a = 3
b = 3
c = 6
d = 7
result = a == b or c == d
print(result)

True

In [31]:
#Exercise 12:
num1 = 9
num2 = 8
result = num1 % 2 != 0 and num2 % 2 == 0
print(result)

True

In [32]:
#Exercise 13:
age = 15
grade = 8
result = 13 <= age <= 19 or 7 <= grade <= 12
print(result)

True

In [33]:
#Exercise 14:
score = 25
result = not (30 <= score <= 60)
print(result)

True